---
id: index
category: index
label: ホーム
layout: layout
title: A Happy New Year 2015! | 110chang.com
---

/
/ Index
/

#stage
button#toggle-wireframe Wireframe
#link
  - link_to "http://110chang.com" do
    i.fa.fa-info-circle
    | 110chang.com